<h1><%= @beat.name %></h1>
<ol>
<h3>By <%= @beat.producer.name %></h2>
<br>
<h4>Price: $ <%= @beat.price %></h4>
</ol>
<br>

<%= link_to "buy beat", new_contract_path %>

<div class="embed-responsive embed-responsive-1by1">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2QwbV5LscBs"></iframe>
</div>





