<div class="index-video-wrapper">
  <%= video_tag "blaatina.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "index_video" %>


<ul>

</ul>
</div>

<h1 class="index"> Producers </h1>
<ul class="list-group">
<% @producers.each do |producer| %>
    <li class="list-group-item"> <%= link_to producer.name, producer %> </li>
<% end %>
</ul







